{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="vh-100 d-flex wrapper flex-grow-1 container justify-content-center align-items-center">
    <div class="d-flex gap-2 position-relative update-form">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ event_form|crispy }}
            <a href="{% url 'calendar:scheulder' %}" class="btn btn-danger">Powrót</a>
            <button class="btn btn-success" type="submit">Dodaj</button>
        </form>
        <button type="submit" style="position:absolute; top:-10px; right:0;" id="add-event-btn" class="align-self-start btn btn-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Dodaj</button>
    </div>
</div>
{% endblock content %}


{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj usługe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ service_form|crispy }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-success">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}